<a class="navbar-item" onclick="app.showPage('myDesignsPageId');">
    <span class="icon has-text-info">
        <i class="fas fa-tshirt"></i>
    </span>
    <span>
        T-Shirts
    </span>
</a>
