<nav id="navbar" class="navbar has-shadow">
    {{! <div class="container"> }}
        <div class="navbar-brand">
            <a class="navbar-item" href="/old-version">
                <img src="/image/jasons-tees-logo.png" alt="Jason's Tees">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenuTShirts">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <!--START NAVMENUTSHIRTS-->
        <div id="navMenuTShirts" class="navbar-menu">
            <div class="navbar-start">
                {{>menu/about}}
            </div>
        </div>
        <!--END NAVMENUTSHIRTS-->
    {{! </div> }}
</nav>
