<div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link" onclick="document.getElementById('reorderDropdown').classList.toggle('is-hidden-touch');">
      <span class="icon has-text-info">
          <i class="fas fa-dolly"></i>
      </span>
      <span class="is-hidden-desktop-only">
          Reorder
      </span>
  </a>
  <div id="reorderDropdown" class="navbar-dropdown is-hidden-touch">
      <a class="navbar-item" href="https://www.ebay.com/itm/SISER-EASYWEED-IRON-ON-HTV-HEAT-TRANSFER-VINYL-15-x-9-12-1-3-AND-5-YARDS/112723068606" target="_blank">
          <span>
              <span class="icon has-text-info">
                  <i class="fas fa-palette fa-2x"></i>
              </span>
              <br>
              Reorder <strong>Siser Easyweed HTV</strong>.
          </span>
      </a>
      <hr class="navbar-divider">
      <a class="navbar-item" href="https://www.jiffyshirts.com/" target="_blank">
          <span>
              <span class="icon has-text-info">
                  <i class="fas fa-tshirt fa-2x"></i>
              </span>
              <br>
              Reorder <strong>T-Shirts</strong>.
          </span>
      </a>
  </div>
</div>
