<a class="navbar-item  is-hoverable" onclick="app.showPage('myResearchPageId')">
    <span class="icon has-text-info">
        <i class="fas fa-flask"></i>
    </span>
    <span>
        Research
    </span>
</a>
